/* Search box */

.ais-SearchBox {
    width: 100%;
}

.ais-SearchBox .ais-SearchBox-input {
    background-color: #fff;
    border-radius: 8px;
    /*box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.2);*/
    border: 1px solid #333;
    height: 54px;

    padding: 0px 38px 0 34px;
}

.ais-SearchBox-submit {
    padding: 0 1rem 0 0.1rem;
    width: 54px;
}

.ais-SearchBox .ais-SearchBox-input::placeholder {
    color: rgba(33, 36, 61, 0.24);
    opacity: 1; /* Firefox */
}

.ais-SearchBox-input:-ms-input-placeholder {
    color: rgba(33, 36, 61, 0.24);
}

.ais-SearchBox-input::-ms-input-placeholder {
    color: rgba(33, 36, 61, 0.24);
}

.ais-SearchBox-submit {
    color: #0f46f9;
}

.ais-RefinementList .ais-SearchBox-input {
    font-family: Hind, sans-serif;
    /*
      The "Hind" font family is vertically off-balance.
      Adding some padding top makes it more vertically aligned.
    */
    padding-top: 2px;
}


/* Hit Card */

#infinite_list div.uk-card-default {
    position: relative;
    overflow: hidden;
    background: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.05);
    transition: .9s;
    z-index: 1;
    border: thin solid #bababa;
}

@media screen and (min-width: 890px) {
    #infinite_list div.uk-card-default:hover {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.35), 0 10px 10px 0 rgba(0, 0, 0, 0.4);
        transition: .2s;
        background: #111;
    }
}


#infinite_list div.uk-card-default .uk-card-media-top {
    overflow: hidden;
}

#infinite_list div.uk-card-default .uk-card-media-top * {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#infinite_list div.uk-card-default .uk-card-media-top img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    transform: scale(1) translate3d(0, 0, 1px) perspective(1px);
    filter: #000;
    transition: 1s;
}


#infinite_list div.uk-card-default:hover .uk-card-media-top img {
    transform: scale(1.2) translate3d(0, 0, 1px) perspective(1px);
    filter: #000;
    transition: .4s;
}

#infinite_list .el-card .el-content .el-header .el-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 5px !important;
    transition: .4s .3s;

    position: relative;
    padding-bottom: 10px;
    margin-bottom: 0 !important;
    margin-top: 18px;
    line-height: normal;
}

#infinite_list .el-card .el-content .el-header .el-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    right: -5px;
    border-bottom: 1px solid #dedede;
}

#infinite_list .el-card .el-content .el-header .el-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 5px;
    width: 35px;
    -ms-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    background-color: #dedede;
    width: 50px;
    transition: .3s ease;
}

@media screen and (min-width: 890px) {

    #infinite_list .el-card:hover .el-content .el-header .el-title:after {
        left: 92%;
        transition: .3s ease;

    }

    #infinite_list .el-card:hover .el-content .el-header .el-title {
        transition: .4s;
        color: #abe229;
    }
}


#infinite_list div.uk-card-default .el-price-header {
    transition: .4s .3s;
    font-size: 22px;
    margin-top: 10px;
}

#infinite_list div.uk-card-default .el-details {
    transition: .4s .4s;
}

@media screen and (min-width: 890px) {

    #infinite_list div.uk-card-default:hover .el-price-header {
        color: #fff;
        transition: .4s;
    }

    #infinite_list div.uk-card-default:hover .el-details {
        color: #29abe2;
        transition: .4s;
    }

}


/* status ribbon */

.status-ribbon {
    top: 20px;
    right: -2px;
    background: rgba(171, 226, 41, 0.9);
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    position: absolute;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

/* Header */

.header {
    align-items: center;
    /*background: linear-gradient(to bottom, #fff, #fafafa);*/
    /*background-image: url('./assets/cover.png');*/
    /*background-image: url('./assets/cover.png'),*/
    /*  linear-gradient(to bottom, #fbc300, #c98a00);*/
    /*background-position: center;*/
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-align: center;
}

.header-logo {
    margin: 0;
}

.header-logo svg {
    height: 80px;
    /*width: 92px;*/
}

.header-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-right: 20px;
}

/* Containers */

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2rem 1rem;
}


.container-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 40px;
}

.container-results {
    flex: 3;
}

.container-options {
    border-bottom: 1px solid #ebecf3;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 30px 0;
}

.container-options .container-option:not(:first-child) {
    margin-left: 48px;
}

.container-options select {
    min-width: 100px;
}

.container-footer {
    margin: 4rem 0;
}

/* Styles the SFFV highlightings */

em {
    font-style: normal;
}

em,
mark {
    background: rgba(226, 164, 0, 0.4);
}

/* Clear refinements container */

.clear-filters {
    align-items: center;
    display: flex;
}

.clear-filters svg {
    margin-right: 8px;
}

/* Panel */

.container-body .ais-Panel {
    border-top: 1px solid #ebecf3;
}

.ais-Panel-header {
    font-family: Hind, sans-serif;
    font-weight: 700;
}


/* Hits */

/*.hit {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 15px;*/
/*    border: 2px solid #dedede;*/
/*    position: relative;*/
/*    background: #fff;*/
/*}*/


.hit-category {
    color: #21243d;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
    opacity: 0.7;
    text-transform: uppercase;
}


.hit-info-container {
    flex: 1 1 auto;
    width: calc(100% - 200px);
    padding-left: 20px;
}

.hit-image-container {
    flex: 0 0 auto;
    width: 200px;
}

.hit-image {
    /*height: auto;*/
    /*max-height: 100%;*/
    width: 100%;
}

.hit-content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.hit-price {
    font-size: 22px;
    color: #111;
    font-weight: 800;
    width: auto;
}

.hit-description {
    margin-top: 2px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap:4px;*/
}

.el-meta {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    margin-right: 4px;
    text-transform: uppercase;
    background: #333;
    padding: 0.0625rem 0.3125rem;
    margin-top: 0.3125rem !important;
    margin-bottom: 0;
    color: #fff;
    font-size: .70rem;
    line-height: 1.5;
}

.cta-button {
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 62px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #dedede;
    background-color: #fcfcfc;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: "Roboto Condensed", "Arial Narrow", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #2d2d2d;
    white-space: normal;
    border: none;
    background-color: #ce0201;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    height: 74px;
    font-size: 26px;
    line-height: 70px;
    width: 100%;


}

.cta-button.small {
    width: 48%;
    font-size: 10px;
    height: 40px;
    border: 1px solid #dedede;
    background-color: #fcfcfc;
    color: #2f2f2f;
    text-shadow: none;
    letter-spacing: 1px;
}

.hit-em {
    /*color: #0f46f9;*/
    /*font-size: 11px;*/
    font-weight: 600;
}

.hit-rating {
    border: 1px solid rgba(226, 164, 0, 0.5);
    border-radius: 4px;
    margin-left: 4px;
    padding: 0 4px;
}

.hits-empty-state {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
}

.hits-empty-state-title {
    font-family: Hind;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.hits-empty-state-description {
    color: rgba(35, 37, 51, 0.6);
    font-size: 0.875rem;
    text-align: center;
}

.hits-empty-state .ais-ClearRefinements {
    margin-top: 1rem;
}

.hits-empty-state .ais-ClearRefinements-button--disabled {
    display: none;
}

.hits-empty-state .ais-ClearRefinements-button {
    background: rgba(10, 8, 41, 0.04);
    border-radius: 3px;
    color: #21243d;
    min-height: 48px;
    padding: 16px 24px;
}

/* ToggleRefinement */

.ais-ToggleRefinement-label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.ais-ToggleRefinement-checkbox {
    font: inherit;
    margin-left: 1rem;
    margin-right: 0;
    position: relative;
}

.ais-ToggleRefinement-checkbox:checked::before {
    color: #0f46f9;
}

.ais-ToggleRefinement-checkbox::before {
    align-items: center;
    color: rgba(33, 36, 61, 0.32);
    content: 'No';
    display: flex;
    font-size: 0.8rem;
    height: 16px;
    position: absolute;
    right: 38px;
}

.ais-ToggleRefinement-checkbox:checked::before {
    content: 'Yes';
}

.ais-ToggleRefinement-count {
    display: none;
}

/* RatingMenu */

.ais-RatingMenu-item:not(.ais-RatingMenu-item--selected) {
    opacity: 0.5;
}

.ais-RatingMenu-starIcon {
    margin-right: 0.5rem;
}

/* Hide all mobile-specific design on desktop */

@media (min-width: 900px) {
    [data-layout='mobile'] {
        display: none;
    }
}


.ais-InfiniteHits-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    row-gap: 50px;
}

.spec-btn {
    width: 100%;
}